name: Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_CLIENT_TIMEOUT: 300
      COMPOSE_HTTP_TIMEOUT: 300

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build \
            -f Dockerfile \
            -t ${{ secrets.DOCKER_USERNAME }}/cicd-githubpipeline:v1 \
            -t ${{ secrets.DOCKER_USERNAME }}/cicd-githubpipeline:latest \
            .

      - name: Push v1 tag
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-githubpipeline:v1

      - name: Push latest tag
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-githubpipeline:latest

